In [ ]:
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

Read the data file and remove unused columns

In [ ]:
df_source = pd.read_csv("data.csv")
df = df_source

columns = ["case_no", "onset_date", "confirmation_date", "gender", "status", "citizenship_zh", "district", "district_en", "classification", "lat", "long", "address"]
for col in columns:
  df = df.drop(col, 1)

df

      onset_date_num  confirmation_date_num  M  ...  southern  wan_chai  kwai_tsing
0              43848                  43853  1  ...         0         0           0
1              43851                  43856  1  ...         0         0           0
2              43858                  43860  0  ...         0         0           0
3              43852                  43860  1  ...         0         0           1
4              43859                  43861  1  ...         0         0           0
...              ...                    ... ..  ...       ...       ...         ...
4086           44075                  44078  0  ...         0         0           0
4087           44077                  44078  0  ...         0         0           0
4088           44085                  44078  0  ...         0         0           1
4089           44061                  44078  0  ...         0         0           0
4090           44076                  44078  0  ...         0         0           0

[4091 rows x 28 columns]

Perform clustering

In [ ]:
clustering = DBSCAN(eps=5, min_samples=3)
result = clustering.fit_predict(df)
max(result)

33

Save the clustering result

In [ ]:
df_source['result'] = result
df_source.to_csv("result.csv", encoding="utf-8", index=False)

Perform Principal Component Analysis and save the result

In [ ]:
pca = PCA(n_components=5)
pca_result = pd.DataFrame(pca.fit_transform(df))

pca_result['result'] = result
pca_result.to_csv("pca.csv", encoding="utf-8", index=False)

Take a look at pricipal components

In [ ]:
df_components = pd.DataFrame(pca.components_).transpose()
df_components['columns'] = df.columns.values
df_components.to_csv("components.csv", encoding="utf-8", index=False)
df_components

           0         1         2         3         4                columns
0  -0.711231 -0.047636 -0.398141 -0.000929  0.004596         onset_date_num
1  -0.701325 -0.017561  0.417662  0.001630  0.000119  confirmation_date_num
2   0.000236 -0.000175 -0.002415  0.706282 -0.027799                      M
3  -0.000236  0.000175  0.002415 -0.706282  0.027799                      F
4  -0.046562  0.998249 -0.036262  0.000178  0.001468                    age
5  -0.003727  0.001890  0.005982 -0.010569 -0.290430                  local
6   0.000974  0.000587 -0.000011 -0.001803 -0.039152         possibly_local
7   0.002757 -0.002463 -0.005923  0.012015  0.328645               imported
8  -0.001654 -0.000538 -0.010157 -0.036720 -0.890248          close_contact
9   0.009906  0.030075  0.815802  0.002558 -0.004477        days_to_confirm
10 -0.000087 -0.000134  0.000487  0.001229 -0.004927                  north
11  0.000599 -0.000613 -0.000270 -0.001488  0.029165    central_and_western
12 -0.000056 -0.000169 -0.000666 -0.013740 -0.005238           kowloon_city
13 -0.000174  0.000101  0.001831  0.006550 -0.004183              kwun_tong
14  0.000005 -0.000697 -0.001032 -0.006697  0.067296          yau_tsim_mong
15 -0.000273 -0.000823 -0.000021  0.004522  0.002620              yuen_long
16  0.000274  0.000775  0.000317  0.002202 -0.016664                eastern
17  0.000126 -0.000071  0.000010  0.003520  0.013840                islands
18 -0.000045 -0.000294 -0.000411 -0.016786 -0.000339                sha_tin
19  0.000034  0.000028  0.000130 -0.001458  0.007887                 tai_po
20  0.000031 -0.000387  0.001136  0.005885 -0.001245               sai_kung
21 -0.000217  0.001055 -0.000283  0.000538 -0.019337               tuen_mun
22 -0.000511  0.001609 -0.001004 -0.000029 -0.073917           wong_tai_sin
23 -0.000073 -0.000351  0.000065  0.001478  0.003185              tsuen_wan
24 -0.000304  0.000317  0.000023  0.003522  0.000336           sham_shui_po
25  0.000285  0.000019 -0.000317 -0.000115  0.008350               southern
26  0.000526 -0.000258 -0.000460  0.006453 -0.008443               wan_chai
27 -0.000141 -0.000106  0.000465  0.004415  0.001610             kwai_tsing